{{ partial "header.html" . }}

<section id="video" class="alt video" style="background: url('img/background/b.jpg')">
	<div class="container">
		
		<div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_lightbulb_alt"></i>
        <h2>
            Our vision        </h2>
        
        <div class="sep"></div>
        
            </div>
</div>


        <div class="row">
        	<div class="col-sm-6 col-sm-offset-3">
        		<h4>Software is transforming the whole world. We will help you handle the infrastructure for it. Let you focus on your application.</h4>
                <i class="arrow_triangle-right_alt2" data-toggle="modal" data-target="#myModal"></i>
        	</div>
        </div>
	</div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-body">
            <iframe id="vid" width="420" height="315" src="//www.youtube.com/embed/NYG7WvME8FI?enablejsapi=1&showinfo=0&rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</section>
<section id="service" class="service">
    <div class="container">
        
        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_documents_alt"></i>
        <h2>
            Our service        </h2>
        
        <div class="sep"></div>
        
                <h3 class="sub-title">
            We are lazy people and passionate about automate everything.</h3>
            </div>
</div>

        
                        <div class="row">
                <div class="col-sm-4 item">
            <div class="">
                <i class="icon_desktop"></i>
                <h3>
                DevOps CONSULTING
                </h3>
            </div>
            <p>We helps you to architecute, .</p>
        </div>
                                <div class="col-sm-4 item">
            <div class="">
                <i class="icon_mobile"></i>
                <h3>
                    Mobile development                </h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
        </div>
                                <div class="col-sm-4 item">
            <div class="">
                <i class="icon_search"></i>
                <h3>
                    Branding                </h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
        </div>
                </div>
                                <div class="row">
                <div class="col-sm-4 item">
            <div class="">
                <i class="icon_documents_alt"></i>
                <h3>
                    Print design                </h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
        </div>
                                <div class="col-sm-4 item">
            <div class="">
                <i class="icon_camera_alt"></i>
                <h3>
                    Photography                </h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
        </div>
                                <div class="col-sm-4 item">
            <div class="">
                <i class="icon_camera_alt"></i>
                <h3>
                    Email marketing                </h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
        </div>
                </div>
                        
    </div>
</section>
<section id="project" class="project alt">
    <div class="container">
        
        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_book_alt"></i>
        <h2>
            Our feature products        </h2>
        
        <div class="sep"></div>
        
                <h3 class="sub-title">
            We passionately believe that good design can be made in every setting, and we are excited to share it with you        </h3>
            </div>
</div>

    </div>
    
    <div class="container-fluid">
        <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/a.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/a.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/b.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/b.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/c.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/c.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/d.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/d.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/e.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/e.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/f.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/f.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/g.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/g.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                        <div class="col-sm-6 col-md-3 item">
                <img src="img/portfolio/h.jpg">
                <div class="backdrop"></div>
                <div class="overlay">
                    <h4>
                        Web design                    </h4>
                    <p>
                        <a class="view" href="img/portfolio/h.jpg" rel="prettyPhoto[gallery1]" title="You can add caption to pictures. You can add caption to pictures. You can add caption to pictures.">
                            <i class="icon_search"></i>
                        </a>
                        <a href="">
                            <i class="icon_link"></i>
                        </a>
                    </p>
                </div>
            </div>
                    </div>
    </div>
    
</section>
<section id="testimonial" class="testimonial">
    
    <div class="container">
        
        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_chat_alt"></i>
        <h2>
            What customers say about us        </h2>
        
        <div class="sep"></div>
        
                <h3 class="sub-title">
            We passionately believe that good design can be made in every setting, and we are excited to share it with you        </h3>
            </div>
</div>

        <div class="row individual">
            <div class="flexslider">
                <ul class="slides">
                                        <li class="item">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p class="msg">Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
                            <div class="indicate"></div>
                            <img src="img/testimonials/a.jpg" class="img-circle avatar">
                            <p class="name">Johhny burlton</p>
                            <p class="date">February 28, 2014</p>
                        </div>
                    </li>
                                        <li class="item">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p class="msg">Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
                            <div class="indicate"></div>
                            <img src="img/testimonials/i.jpg" class="img-circle avatar">
                            <p class="name">Johhny burlton</p>
                            <p class="date">February 28, 2014</p>
                        </div>
                    </li>
                                        <li class="item">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p class="msg">Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
                            <div class="indicate"></div>
                            <img src="img/testimonials/k.jpg" class="img-circle avatar">
                            <p class="name">Johhny burlton</p>
                            <p class="date">February 28, 2014</p>
                        </div>
                    </li>
                                        <li class="item">
                        <div class="col-sm-8 col-sm-offset-2">
                            <p class="msg">Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.</p>
                            <div class="indicate"></div>
                            <img src="img/testimonials/h.jpg" class="img-circle avatar">
                            <p class="name">Johhny burlton</p>
                            <p class="date">February 28, 2014</p>
                        </div>
                    </li>
                                    </ul>
            </div>
        </div>
        
        <div class="row company">
                        <div class="col-md-2 col-xs-6">
                <img src="img/testimonials/b.jpg">
            </div>
                        <div class="col-md-2 col-xs-6">
                <img src="img/testimonials/c.jpg">
            </div>
                        <div class="col-md-2 col-xs-6">
                <img src="img/testimonials/d.jpg">
            </div>
                        <div class="col-md-2 col-xs-6">
                <img src="img/testimonials/e.jpg">
            </div>
                        <div class="col-md-2 col-xs-6">
                <img src="img/testimonials/f.jpg">
            </div>
                        <div class="col-md-2 col-xs-6">
                <img src="img/testimonials/g.jpg">
            </div>
                    </div>
        
    </div>
    
</section>
<section class="parallax empty" style="background-image: url('img/background/c.jpg')">
    <div class="container"></div>
</section>
<section id="achievement" class="achievement alt">
    <div class="container">
        
        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_heart_alt"></i>
        <h2>
            Our achievement        </h2>
        
        <div class="sep"></div>
        
            </div>
</div>

        
        <div class="row">
                        <div class="col-sm-3 item">
                <div class="">
                    <span>
                        <i class="icon_images"></i>
                    </span>
                    <span class="stat">
                        100                    </span>
                </div>
                <div class="sep">
                    
                </div>
                <div>
                    <span>Projects</span>
                </div>
            </div>
                        <div class="col-sm-3 item">
                <div class="">
                    <span>
                        <i class="icon_ribbon_alt"></i>
                    </span>
                    <span class="stat">
                        20                    </span>
                </div>
                <div class="sep">
                    
                </div>
                <div>
                    <span>Awards</span>
                </div>
            </div>
                        <div class="col-sm-3 item">
                <div class="">
                    <span>
                        <i class="icon_contacts_alt"></i>
                    </span>
                    <span class="stat">
                        100                    </span>
                </div>
                <div class="sep">
                    
                </div>
                <div>
                    <span>Customers</span>
                </div>
            </div>
                        <div class="col-sm-3 item">
                <div class="">
                    <span>
                        <i class="icon_drawer_alt"></i>
                    </span>
                    <span class="stat">
                        100                    </span>
                </div>
                <div class="sep">
                    
                </div>
                <div>
                    <span>Open source</span>
                </div>
            </div>
                    </div>
        
    </div>
</section>
<section id="team" class="team">
    <div class="container">
        
        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_group"></i>
        <h2>
            Our team        </h2>
        
        <div class="sep"></div>
        
                <h3 class="sub-title">
            We passionately believe that good design can be made in every setting, and we are excited to share it with you         </h3>
            </div>
</div>

        
        <div class="row team-wrapper">
            
                        <div class="col-sm-3 item">
                <img src="img/team/a.jpg" class="">
                
                <div class="clearfix">
                    
                    <ul class="social clearfix">
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_facebook"></i>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="info">
                        <p class="name">Micheal Doe</p>
                        <p class="pos">Web designer</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 item">
                <img src="img/team/b.jpg" class="">
                
                <div class="clearfix">
                    
                    <ul class="social clearfix">
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_facebook"></i>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="info">
                        <p class="name">Dianne Burlton</p>
                        <p class="pos">Web designer</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 item">
                <img src="img/team/c.jpg" class="">
                
                <div class="clearfix">
                    
                    <ul class="social clearfix">
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_facebook"></i>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="info">
                        <p class="name">Saral Abott</p>
                        <p class="pos">Web designer</p>
                    </div>
                </div>
            </div>
                        <div class="col-sm-3 item">
                <img src="img/team/d.jpg" class="">
                
                <div class="clearfix">
                    
                    <ul class="social clearfix">
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="i-wrapper" href="">
                                <i class="social_facebook"></i>
                            </a>
                        </li>
                    </ul>
                    
                    <div class="info">
                        <p class="name">Olivier Perre</p>
                        <p class="pos">Web designer</p>
                    </div>
                </div>
            </div>
                    </div>
    </div>			
</section><section id="pricing" class="pricing alt">
    <div class="container">
        
        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_currency"></i>
        <h2>
            Pricing plan        </h2>
        
        <div class="sep"></div>
        
                <h3 class="sub-title">
            We offer multiple packages, easy to go for different business needs and pricing plan. Let's choose our products and feel the quality.        </h3>
            </div>
</div>

        
        <div class="row">
                        <article class="col-sm-4 ">
                <ul class="item-wrapper">
                    <li class="head">
                        <i class="social_twitter"></i> 
                        <p>Ultimate</p> 
                    </li>
                    <li class="price">
                        <span class="unit">$</span>
                        <span class="tag">99</span>
                        <span class="duraction">/month</span>
                    </li>

                                        <li class="feature ">
                        Web Design                    </li>
                                        <li class="feature ">
                        Web Development                    </li>
                                        <li class="feature ">
                        Photography                    </li>
                                        <li class="feature ">
                        Logo Design                    </li>
                                        <li class="feature last">
                        Marketing                    </li>
                                        
                    <li>
                            <a class="btn btn-default" href="">Purchase Now</a>
                    </li>
                </ul>
            </article>
                        <article class="col-sm-4 emphasize">
                <ul class="item-wrapper">
                    <li class="head">
                        <i class="social_twitter"></i> 
                        <p>Standard</p> 
                    </li>
                    <li class="price">
                        <span class="unit">$</span>
                        <span class="tag">199</span>
                        <span class="duraction">/month</span>
                    </li>

                                        <li class="feature ">
                        Web Design                    </li>
                                        <li class="feature ">
                        Web Development                    </li>
                                        <li class="feature ">
                        Photography                    </li>
                                        <li class="feature ">
                        Logo Design                    </li>
                                        <li class="feature last">
                        Marketing                    </li>
                                        
                    <li>
                            <a class="btn btn-default" href="">Purchase Now</a>
                    </li>
                </ul>
            </article>
                        <article class="col-sm-4 ">
                <ul class="item-wrapper">
                    <li class="head">
                        <i class="social_twitter"></i> 
                        <p>Diamond</p> 
                    </li>
                    <li class="price">
                        <span class="unit">$</span>
                        <span class="tag">299</span>
                        <span class="duraction">/month</span>
                    </li>

                                        <li class="feature ">
                        Web Design                    </li>
                                        <li class="feature ">
                        Web Development                    </li>
                                        <li class="feature ">
                        Photography                    </li>
                                        <li class="feature ">
                        Logo Design                    </li>
                                        <li class="feature last">
                        Marketing                    </li>
                                        
                    <li>
                            <a class="btn btn-default" href="">Purchase Now</a>
                    </li>
                </ul>
            </article>
                    </div>
    </div>
</section>

<section id="blog" class="blog">
    <div class="container">

        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_contacts_alt"></i>
        <h2>
            Our blog        </h2>
        
        <div class="sep"></div>
        
                <h3 class="sub-title">
            We are team with high respinsibility and passion, deliver good products to other is our happiness everyday,        </h3>
            </div>
</div>


        <div class="row blog">

                        <div class="col-sm-4 item clearfix">

                <a href="#">
                    <img src="img/blog/a.jpg">
                </a>

                <div class="crd-info clearfix">
                    <span class="date">
                        May 25                    </span>
                    <span class="avatar">
                        <img src="img/team/a.jpg" class="img-circle">
                    </span>
                </div>

                <div class="cont-info">
                    <h3>
                        <a href="">
                            Blending magic                        </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.                    </p>
                </div>

            </div>
                        <div class="col-sm-4 item clearfix">

                <a href="#">
                    <img src="img/blog/b.jpg">
                </a>

                <div class="crd-info clearfix">
                    <span class="date">
                        May 25                    </span>
                    <span class="avatar">
                        <img src="img/team/b.jpg" class="img-circle">
                    </span>
                </div>

                <div class="cont-info">
                    <h3>
                        <a href="">
                            Creative design                        </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.                    </p>
                </div>

            </div>
                        <div class="col-sm-4 item clearfix">

                <a href="#">
                    <img src="img/blog/c.jpg">
                </a>

                <div class="crd-info clearfix">
                    <span class="date">
                        May 25                    </span>
                    <span class="avatar">
                        <img src="img/team/d.jpg" class="img-circle">
                    </span>
                </div>

                <div class="cont-info">
                    <h3>
                        <a href="">
                            Minimalism                        </a>
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adepiscing eleit. Aenea commodo ligila egnet dolor. Aenean masse. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus music donec quam felis.                    </p>
                </div>

            </div>
            
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
