{{ partial "header.html" . }}

<div class="container">
<div class="row">
  {{ if eq .Title .Site.Title }}
  <div class="column column-50">
    <h2>Yeo Space</h2>

    <p>
    I'm doing DevOps and Development consultant services. I have a wide range of experience design and manage infrastructure on AWS or on-premise system. I'm also pretty good at programming, you can check my github or resume. I can work and pick up new technologies pretty quick.
    </p>

    <p>
    I can ideally help on any kind of computer-related activity as long as it's interesting. From creating website, building
    infrastrucutre that scale, bring up ideas into an mobile app(I only do iOS). I can design and develop your next project, big or small, end to end, from setting up infrastructure, monitor/logging system to code. Just drop me a line and we can talk about thing together.
    </p>
  </div>
  {{ end }}
  </div>
</div>

{{ partial "footer.html" . }}
