 
<section id="contact" class="contact alt">
    <div class="container">
        <div class="row sec-header">
    <div class="col-sm-6 col-sm-offset-3">
        <i class="icon_phone"></i>
        <h2>
            Get in touch        </h2>
        
        <div class="sep"></div>
        
                <h3 class="sub-title">
            Fore more information related to our team & products, please contact us by phone, email or via our social network. Thank you.        </h3>
            </div>
</div>

    </div>
    
    <div class="con-wrap">
        <div class="container">
            <div class="row">

                <div class="col-sm-4 item">
                    <h3>Yeo Space</h3>
                    <p>
                    We build reliable infrastructure, and use a comprehensive in-house tools to help
                    you monitor and trigger self healing if possible.
                    </p>

                    <ul>
                        <li><i class="icon_house"></i>San Jose, CA</li>
                        <li><a href="mailto:hello@yeo.space"><i class="icon_mail"></i>hello@yeo.space</a></li>
                    </ul>
                  </div>

                <div class="col-sm-8 item">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#service">Open source</a></li>
                </ul>
                </div>

            </div>
        </div>
    </div>
</section>
        <script src="vendor/flexslider/jquery.flexslider.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/jquery-scrollto.js"></script>
        <script src="vendor/prettyphoto/js/jquery.prettyPhoto.js"></script>
        <script src="vendor/jquery.animateNumber.min.js"></script>
        <script src="vendor/imagesloaded.pkgd.min.js"></script>
        <script src="js/main.js"></script>
    </body>
  </html>
