</main>
<footer class="footer">
  <div class="container">
  <section class="flex four">
      <div class="column column-25">
        <h3>Yeo Space</h3>
        <p>
        We build reliable infrastructure, use comprehensive in-house tools to help
        you monitor and trigger self healing if possible.
        </p>
      </div>

      <div class="column column-25">
        <h3>Service</h3>
        <ul class="nav navbar-nav navbar-right">
          {{ range where .Data.Pages "Section" "service" }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>

      <div class="column column-25">
        <h3>Start a project</h3>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:hello@yeo.space?subject=I would like to start a project">Development</a></li>
          <li><a href="mailto:hello@yeo.space?subject=Hey, just some quick catchup">DevOps</a></li>
        </ul>
      </div>

      <div class="column column-25">
        <h3>Contact me</h3>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:hello@yeo.space?subject=Hey, just some quick catchup">Hello</a></li>
          <li><a href="https://twitter.com/kureikain">Twitter</a></li>
          <li><a href="https://github.com/yeospace">Open source</a></li>
        </ul>
      </div>
    </section>
  </div>
</footer>

    </body>
  </html>
